@import '_color'

.gold
  btn(color4_gold, color2_gold)
  background color4_gold url('./assets/bg-gold.jpg') fixed
  background-size cover
  #locale
    background rgba(color5_gold, .6)
    option
      background #fff
  .nav-menu
    background linear-gradient(color4_gold, rgba(color4_gold, .6))
    +tablet()
      background transparent
  .menu
    &:hover span
      background color4_gold - 15
    span
      background color4_gold - 15
  .mark
    background rgba(color4_gold, .9)
    color color1_gold
    text-shadow 0 3px color4_gold
    h2
      color color2_gold
  .user-banner
    filter sepia(1) contrast(1.2)
  legend
    background color4_gold
    color #fff
    svg
      fill #fff
  .render
    color color4_gold - 33 !important
    h1, h2, h3, .date
      color color5_gold - 33 !important
    svg
      fill color5_gold  !important
    +printRender()
      color color4_gold - 33 !important
      h1, h2, h3, .date
        color color5_gold - 33 !important
      svg
        fill color5_gold  !important
