@keyframes scroll_top
  0%
    transform translateY(0)
  100%
    transform translateY(-15px)

@keyframes world
  0%
    transform scale(1) rotate(0)
  100%
    transform scale(1) rotate(360deg)

.fade-enter-active, .fade-leave-active
  transition transform 1s, opacity 2s

.fade-enter, .fade-leave-to
  opacity 0
  transform scale(0)
  transition opacity 0s
