.box
  border-radius 6px
  margin-bottom 2em
  & legend:first-child
    border-radius 6px 6px 0 0
    cursor pointer
    user-select none
    &:before
      content '-'
      position relative
      margin-right 15px
  &.active
    height 60px
    overflow hidden
    & legend:first-child
      &:before
        content '+'
  & > label,
  & > .radio
    &:last-child
      border-radius 0 0 6px 6px
.course,
.experience
  margin-bottom 2em
  &.active
    height 60px
    overflow hidden
    overscroll-behavior contain
  & > label
    &:last-child
      border-radius 0 0 6px 6px
