button
  border 0
  padding 0
.btn
  background color4 + 70
  border 1px solid color4 - 30
  border-radius 6px
  box-shadow inset 0 2px rgba(#fff, .2), inset 0 -2px 4px rgba(#000, .1)
  box-sizing border-box
  color color4 - 60
  cursor pointer
  display block
  font-size 1.1em
  font-weight bold
  line-height 23px
  margin-right 1em
  padding 15px
  position relative
  text-decoration none
  text-shadow 0 2px 1px rgba(#fff, .3)
  transition .3s all
  user-select none
  &:last-of-type
    margin-right 0
  &.router-link-exact-active
    background color2 + 10
    border-color color2 - 130
    color color2 - 130
    &:hover
      background color2 + 20
      border-color color2 - 130
      color color2 - 130
    svg, path
      fill color2 - 130
  &:hover
    background color4 + 90
    border-color color4 - 60
    color color4 - 60
  &.small
    height 30px
    padding 0
    width 30px
  &.large
    width 100%
  &.delete
    background red + 170
    border-color red - 120
    color red - 120
    &:hover
      background red + 190
    svg, path
      fill red - 120
  &.plus
    background green + 100
    border-color green - 30
    color green - 50
    &:hover
      background green + 130
    svg, path
      fill green - 50
  &#reset,
  &#print
    display inline-block
    margin-bottom 1em
    margin-right 0
    width 100%
    +tablet()
      margin-right 1em
      width calc(50% - .5em)
  &#print
    +tablet()
      margin-right 0
  &.fontSelect
    margin 0 0 1em
    padding 5px
  &.theme_app
    margin 0
    padding 0
  &.fontSelect,
  &.theme_app
    .icon
      display inline-block
      float right
      padding 12px
      width auto
    select
      color #333
      display inline-block
      float left
      font-size .8em
      margin .5em
      padding .45em
      width auto
  span
    display inline-block
    margin-right .5em
  svg
    filter drop-shadow(0 2px 1px rgba(#000, .4))
    height 20px
    margin-bottom -3px
    margin-right 10px
    width 25px
  path, circle
    fill color4 - 80
    transition .3s all
  .icon
    cursor pointer
    right 0
    top 0
    width 100%
    svg
      margin 0
+htmlDir()
  .btn
    &#reset
      margin-right 0
      margin-left 1em
