.btn
  background color4 + 70
  border-radius 15px
  box-sizing border-box
  color color4 - 60
  cursor pointer
  display block
  font-size .9em
  font-weight bold
  line-height 23px
  padding 15px
  position relative
  text-decoration none
  transition .3s all
  user-select none
  +break(370px)
    padding 8px
  &:last-of-type
    margin-right 0
  &.router-link-exact-active
    background color2 + 10
    border-color color2 - 130
    color color2 - 130
    &:hover
      background color2 + 20
      border-color color2 - 130
      color color2 - 130
    svg, path
      fill color2 - 130
  &:hover
    background color4 + 90
    border-color color4 - 60
    color color4 - 60
  &.small
    height 30px
    padding 0
    width 30px
    border-radius 100px
  &.large
    width 100%
  &.handle
    cursor move
  &.delete
    background red + 170
    border-color red - 120
    color red - 120
    &:hover
      background red + 190
    svg, path
      fill red - 120
    svg
      margin-right 0
      height 15px
  &.plus
    background green + 100
    border-color green - 30
    color green - 50
    &:hover
      background green + 130
    svg, path
      fill green - 50
  &#reset,
  &#print
    display inline-block
    margin-bottom 1em
    margin-right 0
    width 100%
    +tablet()
      margin-right 1em
      width calc(50% - .5em)
  &#print
    +tablet()
      margin-right 0
  &.fontSelect
    margin 0 0 1em
    padding 5px
    border-radius 100px
  &.fontSelect,
  &.theme_app
    .icon
      display inline-block
      float left
      padding 12px
      width auto
    select
      color #333
      display inline-block
      float right
      font-size .8em
      margin 1em 1em 1em 0
      padding .45em
      width auto
      border-radius 100px
  span
    display inline-block
    margin-right .5em
  svg
    height 20px
    margin-bottom -3px
    margin-right 10px
    width 25px
  path, circle
    fill color4 - 80
    transition .3s all
  .icon
    cursor pointer
    right 0
    top 0
    width auto
    svg
      margin 0

+htmlDir()
  .btn
    svg
      margin-right 0
    &#reset
      margin-right 0
      margin-left 1em
