.colab,
.hitech
  margin 3em auto 0
  +ultrawide()
    max-width 50%
  .flexbox
    align-items center
    display flex
    flex-wrap wrap
    justify-content center

.colab
  .people
    align-items center
    background #fff
    border-radius 10px
    cursor pointer
    display inline-flex
    flex-direction column
    flex-wrap wrap
    height 230px
    justify-content center
    margin 0 1em 1em
    text-shadow none
    transition .3s all
    width 230px
    &:hover
      transform scale(1.1)
      img
        animation power 1s infinite alternate
        box-shadow 0 0 0 2px #fff, 0 0 20px 10px color2
    figure
      width 200px
    figcaption
      color #000
    img
      border-radius 50%
      box-shadow 0 0 0 3px rgba(#fff, .8), 0 0 20px 10px rgba(color2, 1)
      transition .7s all
      width 30%
.contributor__score
  color color2 - 100
  .icon
    fill color2 - 100
    transform translate(-5px, 5px)

.hitech
  &:hover
    color color2
    .credits_logo
      filter grayscale(100%)
      opacity .8
      transform scale(.8)
      z-index 1
      &:hover
        filter grayscale(0)
        opacity 1
        transform scale(1)
        z-index 9

.credits_logo
  align-items center
  background #fff
  border-radius 100px
  color #000
  display inline-flex
  flex-direction column
  flex-wrap wrap
  height 155px
  justify-content center
  padding 20px
  text-shadow 0 2px 2px rgba(#000, .5)
  transform scale(.9)
  transition .5s all
  width 155px
  &:hover
    filter grayscale(0)
    position relative
    transform scale(1.4)
    transition .3s all
    will-change all
    z-index 9
