.colab
  margin-top 2em
  .flexbox
    justify-content center
  .people
    cursor pointer
    transition .3s all
    &:hover
      transform scale(1.05)
    figure
      width 200px
    img
      width 100%
      border-radius 10px
