.colab
  margin-top 2em
  .flexbox
    justify-content center
  .people
    cursor pointer
    transition .3s all
    &:hover
      transform scale(1.1)
      img
        animation power 1s infinite alternate
        border-radius 50%
        box-shadow 0 0 0 2px #fff, 0 0 20px 10px color2
        transform rotate(45deg)
        cursor crosshair
    figure
      width 200px
    img
      border-radius 10px
      box-shadow 0 0 0 3px rgba(#fff, .3), 0 0 20px 10px rgba(#000, .1)
      transition .7s all
      width 100%

.hitech
  &:hover
    color color2
    background radial-gradient(ellipse 50% 50%, rgba(color2, .5), rgba(#000, 0) 80%)
    .credits_logo
      opacity .5
      filter grayscale(100%) drop-shadow(0 2px 10px color2)
      transform scale(.9)
      z-index -1
      &:hover
        opacity 1
        filter grayscale(0) drop-shadow(0 2px 10px #fff)
        transform scale(1.4)
        z-index 9
        position relative
        will-change all
        transition .3s all

.credits_logo
  display inline-block
  margin-right 20px
  transition .5s all
  filter drop-shadow(0 2px 10px #fff)
  &:hover
    &:after
      color #333
      opacity 1
      pointer-events all
      transform scale(1)
      transition 1s opacity
  &:last-of-type
    margin 0
  &:after
    background #fff
    border 1px solid #333
    border-radius 4px
    bottom -30px
    box-shadow 0 2px 0 #333, 0 0 30px #fff
    box-sizing border-box
    color #fff
    content attr(title)
    display block
    font-size 12px
    left calc(50% - 40px)
    line-height 13px
    opacity 0
    padding 8px
    pointer-events none
    position absolute
    text-shadow 0 2px 2px rgba(#000, .5)
    transform scale(0)
    transition .3s opacity, 1s color, .3s transform
    width 80px
    will-change all
