input, select
  &.error
    box-shadow: 0 0 0 2px rgba(red + 50, .5), 0 0 20px 2px rgba(red + 50, .5)

.radio
  &.error
    label
      background rgba(#fff, .5)
      box-shadow inset 0 0 20px 2px rgba(red + 50, .2), 0 0 0 2px rgba(red + 50, .2), 0 0 20px 2px rgba(red + 50, .2)
    .error-msg
      &:after
        display none
  label
    &:hover
      background #fff
      box-shadow none
  .error-msg
    bottom -17px
    left 3px

.input__contato .error-msg
  bottom: 0

.error-msg
  background red + 50
  border-radius 50px
  bottom -12px
  color #fff
  display inline-block !important
  font-size .85em
  left 5px
  right 5px
  padding .5em .8em
  position absolute
  text-shadow 0 2px 3px rgba(#000, .7), 0 -2px 7px rgba(#000, .3)
  transition .3s all
  text-align center
  user-select none
  z-index 10
  &:after
    border 6px solid transparent
    border-bottom-color red + 50
    content ''
    display block
    float left
    height 1px
    left 50%
    position absolute
    top -12px
    width 1px
    z-index 9
  &.top
    top 5px
    bottom auto
    &:after
      border 6px solid transparent
      border-top-color red + 50
      position absolute
      bottom -12px
      top auto
