input, textarea, select
  background #fff
  border 1px solid #fff
  border-radius 3px
  box-sizing border-box
  font-size 1em
  margin 1em auto 0
  outline none
  padding 1em
  transition .3s all
  width 100%
  &[type="radio"],
  &[type="checkbox"]
    margin 0
    margin-right 1em
    max-width auto
    min-width auto
    width auto
textarea
  resize vertical
input[type="file"]
  padding .8em
select
  padding .96em
label,
select,
input[type="file"],
input[type="radio"],
input[type="checkbox"]
  cursor pointer
  user-select none
label, legend, .radio > p
  border-bottom 1px solid rgba(#fff, .3)
  box-sizing border-box
  display block
  padding 1em
  transition .3s all
label
  position: relative
  &:hover
    background rgba(#fff, .9)
    input, textarea, select
      box-shadow 0 0 0 4px rgba(#000, .2)
      &[type="radio"]
        box-shadow none
  &:active
    background rgba(#fff, .6)
    input, textarea
      box-shadow 0 0 0 2px rgba(#000, .2)
      &[type="radio"]
        box-shadow none
legend
  background rgba(color4, 1)
  border 1px solid color4 - 50
  border-radius 6px 6px 0 0
  box-shadow inset 0 2px rgba(#fff, .2), inset 0 -2px 4px rgba(#000, .1), 0 3px 15px rgba(#000, .3)
  color #fff
  font-size 1em
  position relative
  width 100%
  +tablet()
    font-size 1.3em
  span
    display block
    left 5px
    position relative
    text-shadow 0 2px 1px rgba(#000, .4)
    top 5px
    width calc(100% - 90px)
  .icon
    fill #fff
    filter drop-shadow(0 2px 1px rgba(#000, .4))
    float left
    margin-right .5em
    +tablet()
      width 30px
  .right
    position absolute
    right 17px
    top calc(50% - 15px)
