.logo
  color color1 + 10
  cursor pointer
  display block
  font-size 3em
  margin 0 auto
  max-width 300px
  position relative
  text-align center
  text-shadow 0 5px color5,
              0 -2px color5,
              2px 0 color5,
              -2px 0 color5,
              2px 4px color5,
              -2px 4px color5,
              0 3px 20px color5,
              0 6px 60px color4
  top 2em
  transition .3s all
  will-change all
  +tablet()
    margin 0 auto
    top 2em
