.logo
  color color1 + 10
  cursor pointer
  display block
  font-size 3em
  margin 0 auto
  max-width 300px
  position relative
  text-align center
  text-shadow 0 5px color4,
              0 -2px color4,
              2px 0 color4,
              -2px 0 color4,
              2px 4px color4,
              -2px 4px color4,
              0 3px 20px color4,
              0 6px 60px color5
  top 2em
  transition .3s transform, .3s color
  will-change transform color
  &:hover
    transform scale(1.2)
    color color2
    text-shadow 0 5px color4,
                0 -2px color4,
                2px 0 color4,
                -2px 0 color4,
                2px 4px color4,
                -2px 4px color4,
                0 3px 20px color4,
                0 6px 70px color2
  &:active
    transform scale(1.1)
  +tablet()
    margin 0 auto
    top 2em
