.logo
  color color1 + 10
  cursor pointer
  display block
  font-size 3em
  margin 0 auto
  max-width 300px
  position relative
  text-align center
  text-shadow 0 2px 10px rgba(#000, .5), 0 2px 40px color2, 0 2px 80px color2
  top 2em
  transition .3s all
  will-change all
  +tablet()
    margin 0 auto
    top 2em
