.nav-menu
  background linear-gradient(to bottom, color4 - 30 50%, rgba(color5,.5))
  clear both
  display block
  height 100%
  left 0
  margin 0 auto
  opacity 0
  position fixed
  position relative
  text-align center
  top 0
  transform translateX(-999px)
  transition .5s all
  user-select none
  width 100%
  z-index 998
  &.active
    transform translateX(0)
    opacity 1
  .title
    color #fff
    font-size 1.5em
    padding 15px
  .btn
    margin 10px auto
    width calc(100% - 1em)
    +tablet()
      margin-right 20px
      &:last-of-type
        margin-right 0
  +tablet()
    background transparent
    box-shadow none
    display flex
    opacity 1
    padding-top 0
    position relative
    top 120px
    transform translateX(0)
    width 70%
    .title
      display none
    .btn
      border-radius 0
      margin 0
      z-index -1 !important
      &:first-of-type
        border-radius 6px 0 0 6px
        border-right 0
      &:last-of-type
        border-radius 0 6px 6px 0
        border-left 0
    &:after
      clear both
      content ''
      display table
  +desktop()
    width 40%
  +ultrawide()
    width 30%
