.nav
  position relative
.nav-menu
  background linear-gradient(color4, rgba(color4, .6))
  bottom 0
  box-sizing border-box
  filter blur(100px)
  left 0
  padding 20px 10px
  position fixed
  right 0
  top 0
  transform translate(-150vw)
  transition all .35s
  z-index 991
  &.active
    filter blur(0px)
    transform translate(0)
  .title
    color color1
    font-size 1.5em
    +tablet()
      display none
  .title,
  .btn
    margin-bottom 1em
    margin-right 0
    text-align center
  .btn:last-of-type
    margin-bottom 0
  +tablet()
    background transparent
    filter blur(0px)
    margin 0  auto
    position relative
    transform translate(0)
    width 70%
    .btn
      border-radius 0
      float left
      margin 0
      width 50%
      &:first-of-type
        border-radius 6px 0 0 6px
        border-right 0
      &:last-of-type
        border-radius 0 6px 6px 0
  +desktop()
    width 40%
