.nav-menu
  background #fff
  text-align center
  display block
  clear both
  position relative
  width 100%
  height 100%
  margin 0 auto
  user-select none
  transition .5s all
  transform translateX(-999px)
  opacity 0
  position fixed
  top 0
  left 0
  z-index 99
  &.active
    transform translateX(0)
    opacity 1
  .title
    font-size 1.5em
    padding 15px
  .btn
    width 95%
    margin 10px auto
    +tablet()
      margin-right 20px
      &:last-of-type
        margin-right 0
  +tablet()
    width 80%
    background rgba(#222, 0)
    box-shadow none
    position relative
    transform translateX(0)
    padding-top 0
    display flex
    opacity 1
    .title
      display none
    &:after
      content ''
      display table
      clear both
  +ultrawide()
    width 60%
