.render
  -webkit-tap-highlight-color transparent
  background #fff
  bottom 0
  box-shadow 0 -10px 40px rgba(#000,.3)
  box-sizing border-box
  clear both
  color #000
  cursor pointer
  height 40vh
  outline none
  overflow auto
  padding 3em
  position fixed
  transition .3s all
  width 100%
  z-index 1
  &:after
    background linear-gradient(#fff 10%, rgba(#fff,0) 80%)
    bottom calc(40vh - 60px)
    content ''
    display block
    height 60px
    pointer-events none
    position fixed
    right 3em
    transition .3s all
    width 100%
    z-index 99
    +tablet()
      width 45%
  &.fixedFooter
    filter blur(0) !important
    height 85vh !important
    transform scale(0.6) translateY(-15vh) !important
  &.active,
  &.fixedH
    filter blur(3px)
    height 70vh
    transform rotate(-35deg) translate(30vw, 300px)
    &:after
      bottom calc(20vh - 60px)
  &.fixedH
    pointer-events none
    transform rotate(10deg) translate(10vw, 350px)
  label
    cursor pointer
  h1, p
    margin-bottom 1em
  h2
    margin 1em 0 .5em
  +tablet()
    height 85vh !important
    position absolute
    right 3em
    width 50%
    top 300px
    &.active,
    &.fixedH
      filter blur(0)
      overflow auto
      transform rotate(0) translate(0, 0)
    &.fixedFooter
      cursor default
      height 90vh !important
      top 5vh !important
      transform scale(1) !important
    &:after
      display none
    &.fixed
      position fixed
      top 11vh
      transition none
      &:after
        display block
        top 11vh
