.render
  position relative
  +tablet()
    box-sizing border-box
    float right
    padding 1em 1em 0
    position absolute
    right 0
    top 270px
    width 50%
    &.viewfixed
      position fixed
      right 0
      top 0
.view
  &.abel,
  &.abel pre
    font-family 'Abel', sans-serif
  &.cinzel,
  &.cinzel pre
    font-family 'Cinzel', sans-serif
  &.kaushan,
  &.kaushan pre
    font-family 'Kaushan Script', sans-serif
  &.rajdhani,
  &.rajdhani pre
    font-family 'Rajdhani', sans-serif
  label
    background transparent
    border 0
    cursor pointer
    padding 0
    position relative
  .btn
    bottom 6px
    position absolute
    right 6px
  .figure
    align-items center
    background #fff
    border 1px solid #999
    border-radius 6px
    display flex
    float left
    height 130px
    justify-content center
    margin 0 20px 20px 0
    overflow hidden
    width 120px
    img
      border-radius 6px
      height 130px
      transition 1s all
  h1, p
    margin-bottom .5em
  h2
    margin 1em 0 .5em
  h3
    font-size 1.2em
    margin 1em 0 .5em
  hr
    clear both
  .coursers .date
  .experiencies .date
    font-weight bold
    margin-top 5px
  .info
    float left
    margin-bottom 20px
    p
      line-height 20px
  .icon-travel
    margin 0 5px
  .icon-check
    margin 0 5px
    transform translateY(2px)
  .icon-location,
  .icon-date,
  .icon-user
    margin-right 5px
  .icon-phone,
  .icon-email,
  .icon-site
    margin-right 10px
  .icon-course,
  .icon-experience
    margin-right 10px
    transform translateY(2px)
  .content
    background #fff
    bottom 0
    box-shadow 0 -10px 40px rgba(#000,.3)
    box-sizing border-box
    clear both
    cursor pointer
    font-size 15px
    font-weight normal
    height 50vh
    margin 0 auto
    outline none
    overflow auto
    padding 3em
    transition .3s all
    width 80%
    word-wrap break-word
    z-index 1
    +tablet()
      height calc(100vh - 60px)
      left 0
      position absolute
      top 30px
      width calc(100% - 1em)
    +ultrawide()
      max-width 70%
