@import '_color'

.classic
  btn(color4_classic, color2_classic)
  background color4_classic url('./assets/bg-paper.jpg') no-repeat fixed bottom center
  background-size cover
  #app
    background linear-gradient(color5_classic, transparent)
  #locale
    background rgba(color5_classic, .6)
    option
      background #fff
  .nav-menu
    background linear-gradient(color4_classic, rgba(color4_classic, .6))
    +tablet()
      background transparent
  .menu
    &:hover span
      background color4_classic - 15
    span
      background color4_classic - 15
  .mark
    background rgba(color4_classic, .9)
    color color1_classic
    text-shadow 0 1px color4_classic
  .user-banner
    filter sepia(.8)
  legend
    background color4_classic
    color #fff
    svg
      fill #fff
  .render
    color color5_classic !important
    h1, h2,  h3, .date, b
      color color4_classic + 50 !important
    svg
      fill color4_classic + 50 !important
    +printRender()
      color color5_classic !important
      h1, h2,  h3, .date, b
        color color4_classic + 50 !important
      svg
        fill color4_classic + 50 !important
