@import '_color'

.full
  btn(color4_full, color2_full)
  background color4_full url('./assets/bg-black.jpg') fixed top center
  #locale
    background rgba(color4_full, .6)
    option
      background #fff
  .nav-menu
    background linear-gradient(color4_full, rgba(color4_full, .6))
    +tablet()
      background transparent
  .menu
    &:hover span
      background color4_full - 15
    span
      background color4_full - 15
  .mark
    background rgba(color4_full, .6)
    // box-shadow 0 0 60px 10px rgba(color5_full, .6)
    color color1_full
    text-shadow 0 3px color4_full
  .user-banner
    filter contrast(1.2) grayscale(1)
  legend
    background color4_full
    // border 1px solid color4_full - 50
    color #fff
    svg
      fill #fff
  .render
    color color5_full !important
    h1, h2
      color color5_full - 90 !important
    +printRender()
      color color5_full !important
      h1, h2
        color color5_full - 90 !important
