.render-print
  display none
  &.no-icon svg
    display none

@media print
  *
    -ms-filter none !important
    background transparent !important
    box-shadow none !important
    filter none !important
    text-shadow none !important

  body
    &:before
      display none

  #curriculo,
  header,
  .header,
  .btn,
  .mark,
  .notice,
  .accounts,
  .layout,
  #final,
  .fontType,
  .themeApp
  .carousel
  .render
    display none !important
    opacity 0 !important

  .viewblocked
    opacity 1 !important

  .render-print
    display block
    .content
      height 100% !important
      padding 0 !important
    .layout-mirror .figure
      right 0
