@media print
  *
    -ms-filternone !important
    background transparent !important
    box-shadow none !important
    filter none !important
    text-shadow none !important
  body
    &:before
      display none
  header.animate_intro,
  .footer,
  .header,
  .mark,
  #curriculo,
  .figure .btn,
  .notice
    display none !important
    opacity 0 !important
  .viewblocked
    opacity 1 !important
  .render,
  .view
    width 100% !important
    top 0 !important
    left 0 !important
    right 0 !important
    bottom 0 !important
    &:after
      display none !important
    *
      display block
    .content
      bottom 0 !important
      display block !important
      filter blur(0) !important
      font-weight normal
      height 100% !important
      left 0 !important
      overflow hidden !important
      pointer-events none
      position relative !important
      right 0 !important
      top 0 !important
      transform scale(1) !important
      width 100% !important
    p,
    span
      display inline
