@import '_color'

.grey
  btn(color4_grey, color2_grey)
  background color4_grey url('./assets/backgrounds/bg-grey.jpg') no-repeat fixed top center
  background-size cover
  .nav-menu
    background linear-gradient(color4_grey, rgba(color4_grey, .6))
    +tablet()
      background transparent
  .menu
    &:hover span
      background color4_grey - 15
    span
      background color4_grey - 15
  .mark
    background rgba(color4_grey, .6)
    color color1_grey
    text-shadow 0 1px color4_grey
  .user-banner
    filter grayscale(1)
  legend
    background color4_grey
    color #fff
    svg
      fill #fff
  .render
    color color5_grey !important
    h1, h2, h3, .date
      color color4_grey !important
    svg
      fill color4_grey !important
    +printRender()
      color color5_grey !important
      h1, h2, h3, .date
        color color4_grey !important
      svg
        fill color4_grey !important
