color1_grey = #FCFCFC
color2_grey = #FFD166
color3_grey = #EF476F
color4_grey = #666
color5_grey = #666 + 30
color6_grey = #abc
color7_grey = red + 130

.grey
  logo(color1_grey, color2_grey, color3_grey, color4_grey)
  btn(color4_grey, color2_grey)
  background color4_grey url('./assets/bg-grey.jpg') no-repeat fixed top center
  background-size cover
  .nav-menu
    background linear-gradient(color4_grey, rgba(color4_grey, .6))
    +tablet()
      background transparent
  .menu
    &:hover span
      background color4_grey - 15
    span
      background color4_grey - 15
  .mark
    background rgba(color4_grey, .6)
    box-shadow 0 0 60px 10px rgba(color5_grey, .6)
    color color1_grey
    text-shadow 0 3px color4_grey
  legend
    background rgba(color4_grey, .9)
    border 1px solid color4_grey - 50
  .paz
    fill #fff !important
    filter drop-shadow(0 2px 2px rgba(#000, .5)) !important
  .credits
    color #fff
  .render
    color color5_grey !important
    h1, h2
      color color4_grey !important
    svg
      fill color4_grey !important
@media print
  .grey .render
    color color5_grey !important
    h1, h2
      color color4_grey !important
    svg
      fill color4_grey !important
