color1_cinza = #FCFCFC
color2_cinza = #FFD166
color3_cinza = #EF476F
color4_cinza = #666
color5_cinza = #666 + 30
color6_cinza = #abc
color7_cinza = red + 130

.cinza
  logo(color1_cinza, color2_cinza, color3_cinza, color4_cinza)
  btn(color4_cinza, color2_cinza)
  &:before
    background color4_cinza url('./assets/bg-paperr.jpg') no-repeat fixed bottom center
    background-size cover
  .nav-menu
    background linear-gradient(color4_cinza, rgba(color4_cinza, .6))
    +tablet()
      background transparent
  .mark
    background rgba(color4_cinza, .6)
    box-shadow 0 0 60px 10px rgba(color5_cinza, .6)
    color color1_cinza
    text-shadow 0 3px color4_cinza
  legend
    background rgba(color4_cinza, .9)
    border 1px solid color4_cinza - 50
  .render
    color color5_cinza !important
    h1, h2
      color color4_cinza !important
@media print
  .cinza .render
    color color5_cinza !important
    h1, h2
      color color4_cinza !important
