color1_cinza = #FCFCFC
color2_cinza = #FFD166
color3_cinza = #EF476F
color4_cinza = #666
color5_cinza = #666 + 30
color6_cinza = #abc
color7_cinza = red + 130

.cinza
  background color4_cinza url('./assets/bg-paperr.jpg') no-repeat fixed bottom center
  background-size cover
  .header
    &.active
      box-shadow 0 4px 20px rgba(#000, .4), 0 3px 0 color4_cinza + 10, 0 6px 30px rgba(color4_cinza,.3), inset 0 2px rgba(#fff,.3), inset 0 -2px 13px rgba(color4_cinza,.3)
      background color4_cinza
  .logo
    color color1 + 10
    text-shadow 0 5px color4_cinza,
                0 -2px color4_cinza,
                2px 0 color4_cinza,
                -2px 0 color4_cinza,
                2px 4px color4_cinza,
                -2px 4px color4_cinza,
                0 3px 20px color4_cinza,
                0 6px 60px color5_cinza
    &:hover
      color color2
      text-shadow 0 5px color4_cinza,
                  0 -2px color4_cinza,
                  2px 0 color4_cinza,
                  -2px 0 color4_cinza,
                  2px 4px color4_cinza,
                  -2px 4px color4_cinza,
                  0 3px 20px color4_cinza,
                  0 6px 70px color2 _cinza
  .btn
    background color4_cinza + 30
    border 1px solid color4_cinza
    box-shadow inset 0 2px rgba(#fff,.3), 0 3px 10px color4_cinza, inset 0 -2px 13px rgba(green - 22,.3) !important
    color color1_cinza + 30
    &:hover
      background color5_cinza
      border-color color5_cinza - 60
      box-shadow 0 3px 0 color5_cinza - 60, 0 6px 30px rgba(color5_cinza, .6), inset 0 2px rgba(#fff,.6), inset 0 -2px 13px rgba(color4_cinza,.3)
      color color1_cinza
      text-shadow 0 1px 3px color2_cinza - 130
      svg
        filter drop-shadow(0px 1px color2_cinza - 100)
    &:active
      background color2_cinza - 20
      border-color color2_cinza - 60
      box-shadow 0 0px 0 color3_cinza - 60, 0 3px 10px color2_cinza - 100, inset 0 2px rgba(#fff,.6), inset 0 -2px 13px rgba(color3_cinza,.3)
      color color2_cinza - 100
      path
        fill color2_cinza - 100
    path
      fill color1_cinza
  .nav
    +tablet()
      &.active.active_show .nav-menu
        box-shadow 0 0 200px 100px color4_cinza
  .nav-menu
    background linear-gradient(to bottom, color4_cinza - 30 50%, rgba(color5_cinza,.5))
    +tablet()
      background transparent
  .mark
    background rgba(color4_cinza, .6)
    box-shadow 0 0 60px 10px rgba(color5_cinza, .6)
    color color1_cinza
    margin 2em 0
    padding 4em 2em
    text-shadow 0 3px color4_cinza
  .render
    color color5_cinza
    h1, h2
      color color4_cinza
@media print
  .cinza .render
    color color5_cinza !important
    h1, h2
      color color4_cinza !important
