color1_classic = #FCFCFC
color2_classic = #FFD166
color3_classic = #EF476F
color4_classic = #584630
color5_classic = #584630 - 30
color6_classic = #abc
color7_classic = red + 130

.classic
  logo(color1_classic, color2_classic, color3_classic, color4_classic)
  btn(color4_classic, color2_classic)
  background #fff
  &:before
    background color4_classic url('./assets/bg-paper.jpg') no-repeat fixed bottom center
    background-size cover
  .nav-menu
    background linear-gradient(color4_classic, rgba(color4_classic, .6))
    +tablet()
      background transparent
  .mark
    background rgba(color4_classic, .9)
    box-shadow 0 0 60px 10px rgba(color5_classic, .6)
    color color1_classic
    text-shadow 0 3px color4_classic
  legend
    background rgba(color4_classic, .9)
    border 1px solid color4_classic - 50
  .render
    h1, h2
      color color4_classic + 30 !important
@media print
  .classic .render
    color color4_classic + 30 !important
    h1, h2
      color color5_classic + 30 !important
