color1_full = #FCFCFC
color2_full = #FFD166
color3_full = #EF476F
color4_full = #000
color5_full = #444
color6_full = #abc
color7_full = red + 130

.full
  background color4_full
  .header
    &.active
      box-shadow 0 4px 20px rgba(#000, .4), 0 3px 0 color4_full + 10, 0 6px 30px rgba(color4_full,.3), inset 0 2px rgba(#fff,.3), inset 0 -2px 13px rgba(color4_full,.3)
      background color4_full
  .btn
    background color4_full + 30
    border 1px solid color4_full
    color color1_full + 30
    box-shadow inset 0 2px rgba(#fff,.3), 0 3px 10px color4_full, inset 0 -2px 13px rgba(green - 22,.3) !important
    &:hover
      background color5_full
      color color1_full
      border-color color5_full - 60
      box-shadow 0 3px 0 color5_full - 60, 0 6px 30px rgba(color5_full, .6), inset 0 2px rgba(#fff,.6), inset 0 -2px 13px rgba(color4_full,.3)
      text-shadow 0 1px 3px color2_full - 130
      svg
        filter drop-shadow(0px 1px color2_full - 100)
    &:active
      background color2_full - 20
      color color2_full - 100
      border-color color2_full - 60
      box-shadow 0 0px 0 color3_full - 60, 0 3px 10px color2_full - 100, inset 0 2px rgba(#fff,.6), inset 0 -2px 13px rgba(color3_full,.3)
      path
        fill color2_full - 100
    path
      fill color1_full
  .nav-menu
    background linear-gradient(to bottom, color4_full - 30 50%, rgba(color5_full,.5))
  .mark
    background rgba(color4_full, .6)
    color color1_full
    padding 4em 2em
    margin 2em 0
    text-shadow 0 3px color4_full
    box-shadow 0 0 60px 10px rgba(color5_full, .6)
