color1_gold = #FCFCFC
color2_gold = #FFD166
color3_gold = #EF476F
color4_gold = #332000
color5_gold = #9e7803
color6_gold = #abc
color7_gold = red + 130

.gold
  logo(color1_gold, color2_gold, color3_gold, color4_gold)
  btn(color4_gold, color2_gold)
  background color4_gold url('./assets/bg-gold.jpg') fixed
  background-size cover
  #locale
    background rgba(color5_gold, .6)
    option
      background #fff
  .nav-menu
    background linear-gradient(color4_gold, rgba(color4_gold, .6))
    +tablet()
      background transparent
  .menu
    &:hover span
      background color4_gold - 15
    span
      background color4_gold - 15
  .mark
    background rgba(color4_gold, .9)
    box-shadow 0 0 60px 10px rgba(color5_gold, .6)
    color color1_gold
    text-shadow 0 3px color4_gold
  legend
    background color4_gold
    border 1px solid color4_gold - 50
  .render
    color color4_gold - 33 !important
    h1, h2, h3, .date
      color color5_gold - 33 !important
    svg
      fill color5_gold  !important
    +printRender()
      color color4_gold - 33 !important
      h1, h2, h3, .date
        color color5_gold - 33 !important
      svg
        fill color5_gold  !important
