color1_jungle = #FCFCFC
color2_jungle = #FFD166
color3_jungle = #EF476F
color4_jungle = #154b28
color5_jungle = #5b162e + 30
color6_jungle = #abc
color7_jungle = red + 130

.jungle
  background color4_jungle url('./assets/background-green.jpg') no-repeat fixed bottom center
  background-size cover
  logo(color1_jungle, color2_jungle, color3_jungle, color4_jungle)
  btn(color4_jungle, color2_jungle)
  .nav-menu
    background linear-gradient(color4_jungle, rgba(color4_jungle, .6))
    +tablet()
      background transparent
  .mark
    background rgba(color4_jungle, .9)
    box-shadow 0 0 60px 10px rgba(color5_jungle, .6)
    color color1_jungle
    text-shadow 0 3px color4_jungle
  legend
    background rgba(color4_jungle, .9)
    border 1px solid color4_jungle - 50
@media print
  .jungle .render
    color color5_jungle !important
    h1, h2
      color color4_jungle !important
