color1_jungle = #FCFCFC
color2_jungle = #FFD166
color3_jungle = #EF476F
color4_jungle = #154b28
color5_jungle = #5b162e + 30
color6_jungle = #abc
color7_jungle = red + 130

.jungle
  background color4_jungle url('./assets/background-green.jpg') no-repeat fixed bottom center
  background-size cover
  .header
    &.active
      box-shadow 0 4px 20px rgba(#000, .4), 0 3px 0 color4_jungle + 10, 0 6px 30px rgba(color4_jungle,.3), inset 0 2px rgba(#fff,.3), inset 0 -2px 13px rgba(color4_jungle,.3)
      background color4_jungle
  .logo
    color color1 + 10
    text-shadow 0 5px color4_jungle,
                0 -2px color4_jungle,
                2px 0 color4_jungle,
                -2px 0 color4_jungle,
                2px 4px color4_jungle,
                -2px 4px color4_jungle,
                0 3px 20px color4_jungle,
                0 6px 60px color5_jungle
    &:hover
      color color2
      text-shadow 0 5px color4_jungle,
                  0 -2px color4_jungle,
                  2px 0 color4_jungle,
                  -2px 0 color4_jungle,
                  2px 4px color4_jungle,
                  -2px 4px color4_jungle,
                  0 3px 20px color4_jungle,
                  0 6px 70px color2 _jungle
  .btn
    background color4_jungle + 30
    border 1px solid color4_jungle
    box-shadow inset 0 2px rgba(#fff,.3), 0 3px 10px color4_jungle, inset 0 -2px 13px rgba(green - 22,.3) !important
    color color1_jungle + 30
    &:hover
      background color5_jungle
      border-color color5_jungle - 60
      box-shadow 0 3px 0 color5_jungle - 60, 0 6px 30px rgba(color5_jungle, .6), inset 0 2px rgba(#fff,.6), inset 0 -2px 13px rgba(color4_jungle,.3)
      color color1_jungle
      text-shadow 0 1px 3px color2_jungle - 130
      svg
        filter drop-shadow(0px 1px color2_jungle - 100)
    &:active
      background color2_jungle - 20
      border-color color2_jungle - 60
      box-shadow 0 0px 0 color3_jungle - 60, 0 3px 10px color2_jungle - 100, inset 0 2px rgba(#fff,.6), inset 0 -2px 13px rgba(color3_jungle,.3)
      color color2_jungle - 100
      path
        fill color2_jungle - 100
    path
      fill color1_jungle
  .nav-menu
    background linear-gradient(to bottom, color4_jungle - 30 50%, rgba(color5_jungle,.5))
  .mark
    background rgba(color4_jungle, .6)
    box-shadow 0 0 60px 10px rgba(color5_jungle, .6)
    color color1_jungle
    margin 2em 0
    padding 4em 2em
    text-shadow 0 3px color4_jungle
  .render
    color color5_jungle
    h1, h2
      color color4_jungle
@media print
  .jungle .render
    color color5_jungle !important
    h1, h2
      color color4_jungle !important
