color1_red = #FCFCFC
color2_red = #FFD166
color3_red = #EF476F
color4_red = #f00 - 200
color5_red = #f00 + 50
color6_red = #abc
color7_red = red + 130

.red
  background color4_red
  logo(color1_red, color2_red, color3_red, color4_red)
  btn(color4_red, color2_red)
  .nav-menu
    background linear-gradient(color4_red, rgba(color4_red, .6))
    +tablet()
      background transparent
  .mark
    background rgba(color4_red, .6)
    box-shadow 0 0 60px 10px rgba(color5_red, .6)
    color color1_red
    text-shadow 0 3px color4_red
  legend
    background rgba(color4_red, .9)
    border 1px solid color4_red - 50
@media print
  .red .render
    color color5_red !important
    h1, h2
      color color5_red - 90 !important
