color1_rose = #FCFCFC
color2_rose = #FFD166
color3_rose = #EF476F
color4_rose = #440927
color5_rose = #cc1a58 + 30
color6_rose = #abc
color7_rose = rose + 130

.rose
  background color4_rose url('./assets/rosa.jpg') no-repeat fixed bottom center
  background-size cover
  logo(color1_rose, color2_rose, color3_rose, color4_rose)
  btn(color4_rose, color2_rose)
  .nav-menu
    background linear-gradient(color4_rose, rgba(color4_rose, .6))
    +tablet()
      background transparent
  .mark
    background rgba(color4_rose, .9)
    box-shadow 0 0 60px 10px rgba(color5_rose, .6)
    color color1_rose
    text-shadow 0 3px color4_rose
  legend
    background rgba(color4_rose, .9)
    border 1px solid color4_rose - 50
@media print
  .rose .render
    color color5_rose !important
    h1, h2
      color color4_rose !important
