.footer
  font-weight normal
  padding 40px 0
  text-align center
  &.home
    padding 65vh 0 40px
    +tablet()
      padding 5em 3em
      width 35%
    +desktop()
      width 40%
.credits
  color #fff
  cursor pointer
  font-size 1em
  user-select none
  i
    display inline-block
    transition 1s all
    width .8em
  small, i
    color #fff
    font-style normal
    text-shadow 0 2px 2px rgba(#000,.6)
  &:hover
    color #fff
    letter-spacing 10px
    text-shadow 0 2px 2px rgba(#000,.6)
    transition 2s all
    i
      font-size 2em
      margin 4px
    small, i
      color #fff
