header.animate_intro
  position relative
  z-index 10
.header
  -webkit-focus-ring-color rgba(255, 255, 255, 0) !important
  -webkit-tap-highlight-color rgba(255, 255, 255, 0) !important
  color #666
  height 300px
  letter-spacing .8px
  outline none
  position relative
  user-select none
  will-change opacity, translate, scale
  z-index 1
