color1 = #FCFCFC
color2 = #FFD166
color3 = #EF476F
color4 = #15758f
color5 = #2ec6db
color6 = #abc
color7 = red + 130

smartphoneWidth  = 748px
tabletWidth      = 1012px
desktopWidth     = 1440px

mqSmartphone     = "only screen and (max-width: " + smartphoneWidth + ")"
mqTablet         = "only screen and (max-width: " + tabletWidth     + ")"
mqDesktop        = "only screen and (max-width: " + desktopWidth    + ")"
