color1 = green + 50
color2 = red + 50
color3 = blue + 50

smartphoneWidth  = 748px
tabletWidth      = 1012px
desktopWidth     = 1440px

mqSmartphone     = "only screen and (max-width: " + smartphoneWidth + ")"
mqTablet         = "only screen and (max-width: " + tabletWidth     + ")"
mqDesktop        = "only screen and (max-width: " + desktopWidth    + ")"
