.left, .right
  clear none

.left
  float left

.right
  float right

.text-center
  text-align center

.ml-1
  margin-left 1em

.m-0
  margin 0

.content
  position relative

+htmlDir()
  .left
    float right

  .right
    float left

  .ml-1
    margin-right 1em
    margin-left auto
