btn(cor1, cor2)
  .btn
    background cor1 + 110
    border 1px solid cor1
    color cor1 - 50
    &:hover
      background cor1 + 90
    &.router-link-exact-active
      color cor1
      background cor2
      &:hover
        color cor1
      svg, path
        fill cor1
    &.delete
      background red + 170
      border-color red - 120
      color red - 120
      &:hover
        background red + 190
      svg, path
        fill red - 120
    &.plus
      background green + 100
      border-color green - 30
      color green - 50
      &:hover
        background green + 130
    svg, path
      fill cor1 - 15
