logo(cor1, cor2, cor5, cor4)
  .logo
    color cor1 + 10
    text-shadow 0 5px cor4,
                0 -2px cor4,
                2px 0 cor4,
                -2px 0 cor4,
                2px 4px cor4,
                -2px 4px cor4,
                0 3px 20px cor4,
                0 6px 60px cor2
    &:hover
      color cor2
      text-shadow 0 5px cor4,
                  0 -2px cor4,
                  2px 0 cor4,
                  -2px 0 cor4,
                  2px 4px cor4,
                  -2px 4px cor4,
                  0 3px 20px cor4,
                  0 6px 70px cor2
