break(value, type = 'max')
  if type == 'max'
    @media (max-width: value)
      {block}
  else if type == 'min'
    @media (min-width: value)
      {block}
  else
    throw new Error('Invalid type. Use "max" or "min".')

mobile()
  @media (min-width: 640px)
    {block}

tablet()
  @media (min-width: 800px)
    {block}

desktop()
  @media (min-width: 1440px)
    {block}

ultrawide()
  @media (min-width: 2000px)
    {block}

printRender()
  @media (print)
    {block}

htmlDir()
  html[dir="RTL"]
    {block}
