@import '_color'

.rose
  btn(color4_rose, color2_rose)
  background color4_rose url('./assets/bg-rosa.jpg') no-repeat fixed top center
  background-size cover
  #app
    background linear-gradient(color5_rose, transparent)
  .nav-menu
    background linear-gradient(color4_rose, rgba(color4_rose, .6))
    +tablet()
      background transparent
  .menu
    &:hover span
      background color4_rose - 15
    span
      background color4_rose - 15
  .mark
    background rgba(color4_rose, .9)
    color color1_rose
    text-shadow 0 1px color4_rose
  .user-banner
    filter hue-rotate(88deg)
  legend
    background color4_rose
    color #fff
    svg
      fill #fff
  .render
    color color4_rose - 60 !important
    h1, h2, h3, .date
      color color5_rose !important
    svg
      fill color5_rose !important
    +printRender()
      color color4_rose - 60 !important
      h1, h2, h3, .date
        color color5_rose !important
      svg
        fill color5_rose !important
